<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        slot="start"
        defaultHref="home/prospecting"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="appMenu">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="pb-35">
    <ion-title mode="md" class="roofing-large-title sf-pro-bold"
      >Estimate</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="openPriceModal()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showMdlAcceptance" (click)="openAcceptanceModal()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showMdlAcceptance" (click)="clickCreateVersion()">
        <ion-icon name="duplicate-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showPreview" [disabled]="loadingStatus || loadingFiles" (click)="goToScope()">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openNotesModal()">
        <ion-icon slot="icon-only" name="clipboard-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openNewContactDateModal()">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showCloseBtn" class="close-button" (click)="openRejectProposalModal()">
        <ion-icon
          slot="icon-only"
          name="trash-outline"
          color="danger"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-prospecting-detail
    *ngIf="project"
    (showBuildingsEmited)="showBuilding = $event"
    (changeVersionEmited)="showBuilding = true"
  ></app-prospecting-detail>

  <app-estimate-segment [segment]="tabSegment"></app-estimate-segment>
</ion-content>
