ion-slides,
ion-slide {
  width: 100%;
  height: 100%;
}

ion-toolbar {
  --background: white:
}

form {
    max-width: 30%;

    .label-fixed {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 11.888888vw;
      -ms-flex: 0 0 11.888888vw;
      flex: 0 0 11.888888vw;
      width: 11.888888vw;
      min-width: 11.888888vw;
    }

    .roofing-button{
      padding-top: 1.4vh;
      --padding-bottom: 1.8vh;
      --padding-top: 1.8vh;
      text-transform: unset !important;
    }

    ion-item {
      --padding-start: 0px;
      --inner-padding-start: 10px
    }

}