.mr-6 {
  margin-right: 6px;
}

.divider {
  background-color: rgba(116, 116, 128, 0.18);
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.row-concept {
  border-bottom: 1px solid rgba(116, 116, 128, 0.18);
}

.total-concept {
  width: 117px;
  height: 25px;
  margin: 0px;
  font-family: SFProDisplay;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: right;
  color: #34c759;
}

.ts-12 {
  font-size: 13px;
}

.ts-14 {
  font-size: 14px;
}

.total-row {
  margin-top: 5px;
  margin-bottom: 8px;
}

.divider-line {
  height: 1px;
  background-color: rgba(116, 116, 128, 0.18);
}

.error {
  color: #ff0000;
}

.sticky-row {
  position: sticky;
  top: 0px; /* Ajusta este valor según tus necesidades */
  z-index: 1000; /* Asegura que el row se mantenga por encima de otros elementos */
  background-color: white; /* Para mantener el fondo del row opaco y no transparente */
}
