<ion-grid>
  <ion-row style="padding-bottom: 15px">
    <ion-col size-md="3" size-xs="1"></ion-col>
    <ion-col>
      <ion-label color="black" class="roofing-title">Shingle Lines</ion-label>
    </ion-col>
    <ion-col size-md="3" size-xs="1"></ion-col>
  </ion-row>

  <ion-row style="padding-bottom: 15px">
    <ion-col size-md="3" size-xs="1"></ion-col>
    <ion-col>
      <app-single-lines-checkbox></app-single-lines-checkbox>
    </ion-col>
    <ion-col size-md="3" size-xs="1"></ion-col>
  </ion-row>
</ion-grid>
