ion-item {
    border-radius: 8px;
    --min-height: 5vh;
}

ion-grid, ion-col{
    padding-left: 0px;
    padding-right: 0px;
}

ion-icon{
    width: 35px;
    height: 35px;
    margin: auto;
}

.lbl_gray{
    --ion-color-contrast: var(--color-gray) !important;
}