ion-item {
    border-radius: 8px;
    --min-height: 5vh;
}

ion-grid, ion-col{
    padding-left: 0px;
    padding-right: 0px;
}

.modal-title-padding {
    padding: 20px 0;
}

.detail-padding{
    padding-top: 8px;
    padding-bottom: 2px;
}