<ion-content class="content-bg">

  <div class="container">
    <p class="sf-pro-bold roofing-title">Forgot your password?</p>
    <p class="sf-pro-semibold roofing-subtitble">Enter your email, we’ll send you a link to reset your password.</p>
    <div class="content-form">
      <form [formGroup]="resetForm">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="fixed" id="login-label">
                Email
              </ion-label>
              <ion-input id="login-input" clearInput formControlName="email" type="text">
              </ion-input>

            </ion-item>
            <p class="roofing-error p-error"
              *ngIf="resetForm.get('email').invalid && (resetForm.get('email').dirty || resetForm.get('email').touched)">
              Email format is incorrect
            </p>
          </ion-col>
        </ion-row>
        <div class="btn-container">
          <ion-button id="btnLogin" [disabled]="!resetForm.valid" (click)="confirmForgetPass()" color="primary"
            class="roofing-button single-click">
            Continue
          </ion-button>
        </div>
        <div class="btn-container btn-container-forget">
          <ion-button fill="clean" color="dark" (click)="cancel()" id="login-need-help" type="button">
            Cancel
          </ion-button>
        </div>
      </form>
    </div>
  </div>

</ion-content>
