<ion-grid>
  <ion-row>
    <ion-col size="4" size-xs="2" size-md="4"></ion-col>
    <ion-col size="4" size-xs="8" size-md="4">
      <ion-list>
        <ion-item lines="none" button (click)="onVerifiedInformation()" detail="false">
          <ion-icon
            name="square-outline"
            *ngIf="!isVerified"
            class="ion-padding icon"
          ></ion-icon>

          <ion-icon
            name="checkbox"
            *ngIf="isVerified"
            class="ion-padding icon"
            color="success"
          ></ion-icon>

          <ion-text class="ion-text-nowrap">{{ title }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="4" size-xs="2" size-md="4"></ion-col>
  </ion-row>
  <ion-row *ngIf="showIconError">
    <ion-item lines="none" class="aling-item">
      <ion-icon 
        slot="start"
        class="icon-error"
        style="margin-right: 5px;"
        name="alert-circle-outline"
        color="tertiary"></ion-icon>
        <ion-text color="tertiary">
          Some fields are not completed
        </ion-text>
    </ion-item>
  </ion-row>
</ion-grid>

