.valign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-form {
    padding: 0 24.2vw;
}

img.logo-image {
    margin-top: 25.898vh;
    margin-bottom: 3.1484vh;
    height: 12.628vh;
}