ion-slides,
ion-slide {
  width: 100%;
  height: 100%;
}

ion-toolbar {
  --background: white:
}
ion-icon {
  width: 48px;
  height: 48px;
}

.icon-success {
  color: #00c518;
}

.icon-error {
  color: #a4a4a4;
}