.padding-left {
    --padding-start: 38px;
}
  
ion-content {
    --padding-start: 25px;
    --padding-end: 40px;
    --padding-top: 40px;
    --padding-bottom: 40px;
}

.highlight {
    --ion-item-background: rgb(244, 244, 244) !important;
}
  