<ion-content forceOverscroll="false">
  <ion-list >
    <ion-list-header>
      <ion-label class="roofing-title-popup sf-pro-regular">{{ message ? message : 'Are you sure to delete this building?'}}</ion-label>
    </ion-list-header>
    <ion-item (click)="onClick(1)">
      <ion-label color="primary" [class.active]="option==1" class="roofing-label sf-pro-regular">Yes</ion-label>
    </ion-item>
    <ion-item (click)="onClick(2)">
      <ion-label color="primary" [class.active]="option==2" class="roofing-label sf-pro-regular">No</ion-label>
    </ion-item>
  </ion-list>

  <div class="center cont-button">
    <ion-button class="sf-pro-semibold roofing-button" type="ngSubmit" expand="block"
      color="primary" (click)="accept()" [disabled]="!option">
      Accept
    </ion-button>
  </div>
</ion-content>