ion-content {
  --padding-start: 25px;
  --padding-end: 40px;
  --padding-top: 40px;
  --padding-bottom: 40px;
}

ion-checkbox {
  margin-left: 20px;
}
.small-font{
  font-size: 14px;
  text-align: center;
  margin-left:  15px;
}
