<ion-list *ngFor="let item of options" style="margin-left: -25px">
  <ion-list-header>
    <ion-label [style]="item.color">{{ item.title }}</ion-label>
  </ion-list-header>
  <ion-item lines="none" mode="md" *ngFor="let radio of item.options" [disabled]="(!canModifyProposal || userDisabledPermision) && !alwaysAllowModification">
    <ion-label>{{ radio.material_type }}</ion-label>
    <ion-checkbox slot="start" (ionChange)="onCheckboxChanged(radio)" [(ngModel)]="radio.is_selected"></ion-checkbox>
  </ion-item>
</ion-list>
